<launch>

<node pkg="autonomy" name="distance" type="distanceDriver.py"/>
<node pkg="autonomy" name="lines" type="lineDriver.py"/>
<node pkg="autonomy" name="servos" type="servoDriver.py"/>
<node pkg="autonomy" name="core" type="core.py"/>
<node pkg="autonomy" name="motorDriver" type="motorDriver.py"/>

<include file="$(find raspicam_node)/launch/camerav3_1280x720.launch">
	<arg name="enable_raw" value="true"/>
</include>

<node pkg="aruco_detect" type="aruco_detect" name="aruco_detect">
<remap from="/camera_info" to="/raspicam_node/camera_info" />
<remap from="/camera" to="/raspicam_node/image" />
<param name="publish_images" value="False"/>
<param name="dictionary" value="0"/>  
</node>
</launch>

